---
import DialogWrapper from '@/components/Dialog';
import '@/styles/globals.css';
---

<html lang="en">
	<head>
		<title>Astro</title>
	</head>
	<body>
		<DialogWrapper client:load />
	</body>
</html>
